.article__h3-title {
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  font-size: 24px; }
  .article__h3-title a {
    color: inherit; }
  .article__h3-title:hover {
    color: #d8127d; }

.article p {
  -webkit-margin-after: 10px; }

.article__date {
  color: rgba(0, 0, 0, 0.5);
  opacity: .5;
  margin-bottom: 10px; }

.article__image {
  width: 270px;
  height: 190px;
  margin-bottom: 30px; }
