.book-image {
  width: 100%;
  height: 100%;
  margin-left: -3%;
  margin-top: 5.265%;
  margin-bottom: 5.265%; }

.link {
  color: inherit;
  text-decoration: underline; }
  .link:hover {
    color: #D8127D; }
